$bg: #333;
$push-red: hsla(10, 90%, 40%, 1);
$push-white: white;
$transition-time: 10ms;
$push-size: 50px;

.push {
  position: relative;
  display: inline-block;
  width: $push-size;
  height: $push-size;
  border: 0;
  margin: 1em;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow $transition-time;
  &.red {
    background-color: $push-red;
  }
  &.white {
    background-color: $push-white;
  }
  &:active{
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.pushSkeuo {
  &.red {
    box-shadow: 
      inset 0 $push-size/24 0 lighten($push-red, 5%),
      inset 0 (-$push-size/24) $push-size/60 darken($push-red, 5%),
      0 0 $push-size/60 $push-red,
      inset 0 0 $push-size/30 darken($push-red, 15%),
      inset 0 0 $push-size/30 transparentize($bg, .5),
      inset 0 0 $push-size/60 $push-size/12 $push-red,
      inset 0 (-$push-size/30) $push-size/40 $push-size/10 transparentize($bg, .3),
      inset 0 0 $push-size/60 $push-size/10 darken($push-red, 20%),
      inset 0 0 $push-size/60 $push-size/10 transparentize($bg, .3),
      inset 0 0 $push-size/120 $push-size/9.2 darken($push-red, 50%),
      inset 0 0 $push-size/120 $push-size/8 transparentize(lighten($push-red, 30%), .3),
      inset 0 $push-size/20 0 $push-size/8.5 transparentize(lighten($push-red, 15%), .3),
      inset 0 (-$push-size/20) $push-size/60 $push-size/8.5 transparentize(darken($push-red, 10%), .8),
      inset 0 0 0 $push-size/5.5 $push-red,
      inset 0 $push-size/2.5 $push-size/7.5 darken($push-red, 5%),
      inset 0 0 $push-size/10 $push-size/6 darken($push-red, 10%),
      0 $push-size/40 $push-size/20 rgba(0, 0, 0, .5);
  }
  &.white {
    box-shadow: 
    inset 0 $push-size/24 0 lighten($push-white, 5%),
    inset 0 (-$push-size/24) $push-size/60 darken($push-white, 5%),
    0 0 $push-size/60 $push-white,
    inset 0 0 $push-size/30 darken($push-white, 15%),
    inset 0 0 $push-size/30 transparentize($bg, .5),
    inset 0 0 $push-size/60 $push-size/12 $push-white,
    inset 0 (-$push-size/30) $push-size/40 $push-size/10 transparentize($bg, .3),
    inset 0 0 $push-size/60 $push-size/10 darken($push-white, 20%),
    inset 0 0 $push-size/60 $push-size/10 transparentize($bg, .3),
    inset 0 0 $push-size/120 $push-size/9.2 darken($push-white, 50%),
    inset 0 0 $push-size/120 $push-size/8 transparentize(lighten($push-white, 30%), .3),
    inset 0 $push-size/20 0 $push-size/8.5 transparentize(lighten($push-white, 15%), .3),
    inset 0 (-$push-size/20) $push-size/60 $push-size/8.5 transparentize(darken($push-white, 10%), .8),
    inset 0 0 0 $push-size/5.5 $push-white,
    inset 0 $push-size/2.5 $push-size/7.5 darken($push-white, 5%),
    inset 0 0 $push-size/10 $push-size/6 darken($push-white, 10%),
    0 $push-size/40 $push-size/20 rgba(0, 0, 0, .5);
  }

  
    &:active,
    // &:hover,
    &.is-pushed {
      &.red {
        box-shadow: 
        inset 0 $push-size/24 0 lighten($push-red, 5%),
        inset 0 (-$push-size/24) $push-size/60 darken($push-red, 5%),
        0 0 $push-size/60 $push-red,
        inset 0 0 $push-size/30 darken($push-red, 15%),
        inset 0 0 $push-size/30 transparentize($bg, .5),
        inset 0 0 $push-size/60 $push-size/12 $push-red,
        inset 0 (-$push-size/30) $push-size/40 $push-size/10 transparentize($bg, .3),
        inset 0 0 $push-size/60 $push-size/10 darken($push-red, 20%),
        inset 0 0 $push-size/60 $push-size/10 transparentize($bg, .3),
        inset 0 0 $push-size/40 $push-size/8.5 darken($push-red, 40%),
        inset 0 0 $push-size/120 $push-size/7.5 transparentize(lighten($push-red, 30%), .8),
        inset 0 $push-size/20 0 28px transparentize(lighten($push-red, 15%), .5),
        inset 0 (-$push-size/20) $push-size/60 28px transparentize(darken($push-red, 20%), .8),
        inset 0 0 0 $push-size/5.5 darken($push-red, 3%),
        inset 0 $push-size/2.5 $push-size/7.5 darken($push-red, 8%),
        inset 0 0 $push-size/10 $push-size/6 darken($push-red, 15%),
        0 $push-size/40 $push-size/20 rgba(0, 0, 0, .5);
        background-color: darken($push-red, 2%);
        &:before {
          background: transparentize(lighten($push-red, 30%), .8);
          background: linear-gradient(to top, transparentize(lighten($push-red, 40%), .7) 0%, transparentize($push-red, .9) 100%);
         
        }
      }
      &.white {
        box-shadow: 
        inset 0 $push-size/24 0 lighten($push-white, 5%),
        inset 0 (-$push-size/24) $push-size/60 darken($push-white, 5%),
        0 0 $push-size/60 $push-white,
        inset 0 0 $push-size/30 darken($push-white, 15%),
        inset 0 0 $push-size/30 transparentize($bg, .5),
        inset 0 0 $push-size/60 $push-size/12 $push-white,
        inset 0 (-$push-size/30) $push-size/40 $push-size/10 transparentize($bg, .3),
        inset 0 0 $push-size/60 $push-size/10 darken($push-white, 20%),
        inset 0 0 $push-size/60 $push-size/10 transparentize($bg, .3),
        inset 0 0 $push-size/40 $push-size/8.5 darken($push-white, 40%),
        inset 0 0 $push-size/120 $push-size/7.5 transparentize(lighten($push-white, 30%), .8),
        inset 0 $push-size/20 0 28px transparentize(lighten($push-white, 15%), .5),
        inset 0 (-$push-size/20) $push-size/60 28px transparentize(darken($push-white, 20%), .8),
        inset 0 0 0 $push-size/5.5 darken($push-white, 3%),
        inset 0 $push-size/2.5 $push-size/7.5 darken($push-white, 8%),
        inset 0 0 $push-size/10 $push-size/6 darken($push-white, 15%),
        0 $push-size/40 $push-size/20 rgba(0, 0, 0, .5);
        background-color: darken($push-white, 2%);
        &:before {
          background: transparentize(lighten($push-white, 30%), .8);
          background: linear-gradient(to top, transparentize(lighten($push-white, 40%), .7) 0%, transparentize($push-white, .9) 100%);
         
        }
      }
  
      &:before {
        opacity: .5;
      }
    }
  
    &:before {
      content: '';
      position: absolute;
      bottom: $push-size/4.5;
      left: $push-size/3.6;
      display: block;
      width: $push-size/2.2;
      height: $push-size/3.3;
      border-radius: 40% 40% 60% 60%;
      transition: opacity $transition-time;
    }
  }