@mixin link-styles
    &:visited
        color: white
    &:active
        text-decoration: none
.button
    margin: 10px

.buttonContainer
    margin-left: auto
.nes-list.is-circle li::before
    color: white

.h6
    font-family: "Press Start 2P",
    padding-left: 16px
    @include link-styles

.a
    @include link-styles

.easterEgg
    height: 68px
    width: 68px
    display: flex
    justify-content: center
    flex-direction: column
    border-radius: 50px
    transition-duration: 2s, 2s
    transition-property: filter, transform
    &:hover
        filter: invert(1)
        transform: rotate(360deg)
    a
        margin: auto
