@import "./variables.sass"
.container
  min-height: 100vh
  justify-content: center
  align-items: center
  height: 100vh

.main
  min-height: 90vh
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  overflow: hidden
.innerContainer
  min-height: 90vh
  min-width: -webkit-fill-available
  max-width: 98vw
.nesBadge
  width: 15.5em
